{% extends "base.html" %}
{% block title %}
  Event Details: {{ event.name }}
{% endblock title %}
{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">{{ event.name }}</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <p class="card-text">{{ event.description }}</p>
            <hr>
            <p>
              <strong>Date:</strong> {{ event.date }}
            </p>
            <p>
              <strong>Time:</strong> {{ event.time }}
            </p>
            <p>
              <strong>Place:</strong> {{ event.place }}
            </p>
            <p>
              <strong>Type:</strong> {{ event.type }}
            </p>
            {% if event.participants %}
              <hr>
              <p>
                <strong>Participants:</strong>
              </p>
              <ul class="list-group">
                {% for participant in participants %}
                  <li class="list-group-item">{{ participant.first_name }} {{ participant.last_name }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="card-footer">
            <form action="{{ url_for('routes.event_detail', event_id=event.id) }}"
                  method="post">
              <button type="submit" class="btn btn-success">Participate</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
